<footer class="page-footer teal darken-4">

  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Area Mulch Supplier</h5>
        <p class="grey-text text-lighten-4">Raleigh-WakeForest <br>North Carolina</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Helpful Resources</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://www.familyhandyman.com/garden/mulch-guide/view-all/">Mulch Guide</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Stone & Gravel Guide</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Soil Guide</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      ©2017 Area Mulch & Soils
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>

</footer>
