<div class="carousel">
  <a class="carousel-item" href="#one!"><img src="http://www.areamulchandsoils.com/decora1.jpg"></a>
  <a class="carousel-item" href="#two!"><img src="http://www.areamulchandsoils.com/surge_2.jpg"></a>
  <a class="carousel-item" href="#three!"><img src="http://www.areamulchandsoils.com/5%20wash1.jpg"></a>
  <a class="carousel-item" href="#four!"><img src="http://www.areamulchandsoils.com/leaf_m4.jpg"></a>
  <a class="carousel-item" href="#five!"><img src="http://www.areamulchandsoils.com/hardwo2.jpg"></a>
</div>





<h2>Get Mulch Delivered Fast!</h2>
<script>
  $('.carousel').carousel();
</script>
